[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
watchPatterns = ["src/**", "requirements.txt"]

[deploy]
startCommand = "python3 -m uvicorn main:app --host 0.0.0.0 --port $PORT --app-dir /app/src --workers 2"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.envs]]
PORT = "$PORT"
